:host ::ng-deep .p-password input {
    width: 100%;
    padding: 1rem;
}

:host ::ng-deep .pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

:host ::ng-deep .pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

.form-group.invalid input {
  border-color: #f44336;
}

.error-message {
  color: #f44336;
  font-size: 0.875rem;
  margin-top: 0.01rem;
  margin-bottom: 10px;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}