<div class="card">
    <h5>Liste des utilisateurs</h5>
    <p-table #dt 
        [value]="users"
        [loading]="loadingUsers"
        [paginator]="true"
        [rows]="pageSize"
        [rowHover]="true"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        responsiveLayout="scroll"
    >
    
        <ng-template pTemplate="header">
            <tr>
                <th>Nom </th>
                <th>Prénom </th>
                <th>Identifiant</th>
                <th>Type</th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role.name }}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="text-center">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
